@page "/categories"
@inject ImarketClient imarketClient
@inject NavigationManager navigation

<div class="container">
    <h3>List of Categories</h3>
    @if (lstCategory != null && lstCategory.Count > 0)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
               <th>
                   Description
               </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var catgory in lstCategory)
            {
            <tr>
                <td>
                    @catgory.name
                </td>
                <td>
                    @catgory.Description
                </td>
                <td>
                    <a href="@($"addcategory/{catgory.CategoryId}")" class="btn btn-link  m-1">Edit</a>
                    <button @onclick="()=>Delete(catgory.CategoryId)" class="btn btn-link m-1">Delete</button>
                </td>
                

            </tr>
            }
        </tbody>
    </table>
    }
    <button type="button" class="btn btn-info btn-sm" @onclick="navigatetoaddcategory">Add Categories</button>
   
</div>

@code {

    public List<Category> lstCategory;

    private async Task Load()
    {
        lstCategory = new List<Category>();
        lstCategory = await imarketClient.GetCategories();
    }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }
    private void navigatetoaddcategory()
    {
        navigation.NavigateTo("/addcategory");
    }
    private async void Delete(int id)
    {
        bool res= await imarketClient.Delete(id);
        if (res)
            await Load();




    }

}
